body{
    margin: 0;
}
.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;    
}
.hr{
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 80%;
}
.Header-mid{
   display: flex;
   justify-content: space-between;
   width: 25%;
   text-decoration: none;
   margin-left: -100px;
}
.Header-left{
    margin-left: 25px;
    font-size: 25px;
    color: white;   
}
.Header-right{
    margin-right: 25px;
}
.Home,.Projects,.About,.Skills{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.Home:hover,.Projects:hover,.About:hover,.Skills:hover{
    color: rgb(3, 108, 255);
}
.contact-link{
    position: relative;
}
.tooltip{
    position: absolute;
    opacity: 0;
    pointer-events: none;
    margin-top: 36px;
    background: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    transform: translateY(-100%);
}

.contact-link:hover .tooltip{
    opacity: 1;
}

.contact-link .tooltip:hover{
    opacity: 0;
}
.body{
    height: 100%;
    margin-top: 150px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 60px;
    display: flex;
}
.body-left{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 46%;
    margin-left: 30px;
    
}
.intro{
    font-size: 40px;
    margin-bottom: 0;
}
.title{
    font-size: 60px;
    font-weight: bold;

}
.description{
   line-height: 30px;
   color: 	#a8a9ad;
   font-family: Arial, Helvetica, sans-serif;
}
.MERN{
    color: rgb(3, 108, 255);
}
.browse,.touch{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
}
.browse{
    margin-left: 20px;
    width: 150px;
    background-color:  rgb(3, 108, 255);
    color: white;
}
.buttons{
    display: flex;
    flex-direction: row;
    margin-top: 16px;
}
.body-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 180px;
}
.body-right img{
    height: 520px;
    width: 520px;
}
.footer{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.753);
}
a{
    text-decoration: none;
}
.personal_details{
    color: white;
    position: relative;
    bottom: 0;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; 
    text-decoration: none;
    
}

a img{
    height: 30px;
    width: 30px;
    margin-left: 12px;
    align-items: center;
}
.rights{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 1px ;
    margin-right: 42px;
    color: white;
}
